<section class="home-page" id="banner">
    <!-- Swiper-->
    <div class="swiper-container" id="homePageBanner">
        <div class="swiper-wrapper">


            <!-- Start Slider-->
            <a href="https://manamila.co/collections/yeni-yil-setleri" class="swiper-slide">
                <div class="home-page__background"
                     style="background-image: url('https://cdn.shopify.com/s/files/1/0501/4896/6570/files/bestsellerbanner.jpg?v=1640603198');"></div>
                <div class="home-page__overlay"></div>
                <div class="home-page__inner"
                     data-scroll="data-scroll"
                     data-scroll-speed="2">
                </div>
            </a>
            <!-- End Slider-->


        </div>

        <!-- Add Pagination-->
        <div class="home-banner-swiper-pagination"></div>
    </div>
</section>