@{
    Layout = "_Layout";

}   
    <!-- start page title -->
<section class="half-section bg-light-gray parallax" data-parallax-background-ratio="0.5" style="background-image:url('images/service-background.jpg');padding: 60px 0px;">
    <div class="container">
        <div class="row align-items-stretch justify-content-center extra-small-screen">
            <div class="col-12 col-xl-6 col-lg-7 col-md-8 page-title-extra-small text-center d-flex justify-content-center flex-column">
                <h1 class="
						alt-font font-weight-500 text-white text-extra-medium d-block margin-20px-bottom sm-margin-10px-bottom">
                    Grup Şirketleri
                </h1>
                <h2 class="text-white alt-font font-weight-500 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom">Faaliyet Alanlarımız</h2>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section class="bg-light-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-12 col-xl-10 blog-content">
                <div class="blog-list blog-side-image">

                    <!-- start blog item -->
                    <div class="blog-post bg-white box-shadow-medium margin-30px-bottom wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div class="blog-post-image sm-margin-25px-bottom">
                                <a href="javscript:void(0)" title=""><img src="images/mm.jpg" alt="" data-no-retina=""></a>
                            </div>
                            <div class="post-details padding-4-half-rem-lr md-padding-2-half-rem-lr sm-no-padding">
                                <a href="javscript:void(0)" class="alt-font text-small text-extra-dark-gray font-weight-500 text-uppercase d-inline-block margin-15px-bottom sm-margin-10px-bottom">Sağlık</a>
                                <a href="javscript:void(0)" class="alt-font font-weight-500 text-extra-large text-extra-dark-gray d-block margin-20px-bottom sm-margin-10px-bottom">Memorial Sağlık Grubu</a>
                                <p class="margin-10px-bottom sm-margin-25px-bottom">Memorial Sağlık Grubu, seçkin kadrosu ve memnuniyet odaklı uluslararası kalite standartlarında hizmet anlayışı ile etik ilkeler ışığında, sektörde öncü uygulamalarla fark yaratarak, sağlıkta dünya markası olmak misyonu ile kurulmuştur.</p>

                            </div>
                        </div>
                    </div>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <div class="blog-post bg-white box-shadow-medium margin-30px-bottom wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div class="blog-post-image sm-margin-25px-bottom">
                                <a href="javscript:void(0)" title=""><img src="images/ehome.jpg" alt="" data-no-retina=""></a>
                            </div>
                            <div class="post-details padding-4-half-rem-lr md-padding-2-half-rem-lr sm-no-padding">
                                <a href="javscript:void(0)" class="alt-font text-small text-extra-dark-gray font-weight-500 text-uppercase d-inline-block margin-15px-bottom sm-margin-10px-bottom">Perakende</a>
                                <a href="javscript:void(0)" class="alt-font font-weight-500 text-extra-large text-extra-dark-gray d-block margin-20px-bottom sm-margin-10px-bottom">English Home</a>
                                <p class="margin-10px-bottom sm-margin-25px-bottom">Türkiye’de 300’e yakın mağazası ve online alışveriş seçeneği ile kolay ulaşılabilirliği sunarken, yurtdışında 100’e yakın mağazası ile ev tekstili perakendesinde lider konuma gelmiştir.</p>

                            </div>
                        </div>
                    </div>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <div class="blog-post bg-white box-shadow-medium margin-30px-bottom wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div class="blog-post-image sm-margin-25px-bottom">
                                <a href="javscript:void(0)" title=""><img src="images/aydinorme.jpg" alt="" data-no-retina=""></a>
                            </div>
                            <div class="post-details padding-4-half-rem-lr md-padding-2-half-rem-lr sm-no-padding">
                                <a href="javscript:void(0)" class="alt-font text-small text-extra-dark-gray font-weight-500 text-uppercase d-inline-block margin-15px-bottom sm-margin-10px-bottom">Tekstil</a>
                                <a href="javscript:void(0)" class="alt-font font-weight-500 text-extra-large text-extra-dark-gray d-block margin-20px-bottom sm-margin-10px-bottom">Aydın Örme</a>
                                <p class="margin-10px-bottom sm-margin-25px-bottom">
                                    Türkiye’nin en köklü tekstil üreticilerinden biri olan Aydın Örme, 1991’de İstanbul Sarıgazi’de kurulmuştur. Kuruluşun ardından 5 yıllık süreç içinde Aydın Ailesi’nin vizyonuyla önemli adımlar atarak, 1996 yılında Akyazı boya ve apre tesislerini tamamlamıştır. Bu sayede hammaddeden kumaşa entegre bir tesis haline gelerek, Türkiye ve dünyada rakiplerinin önüne geçmiştir.

                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <div class="blog-post bg-white box-shadow-medium margin-30px-bottom wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div class="blog-post-image sm-margin-25px-bottom">
                                <a href="javscript:void(0)" title=""><img src="images/taff4.jpg" alt="" data-no-retina=""></a>
                            </div>
                            <div class="post-details padding-4-half-rem-lr md-padding-2-half-rem-lr sm-no-padding">
                                <a href="javscript:void(0)" class="alt-font text-small text-extra-dark-gray font-weight-500 text-uppercase d-inline-block margin-15px-bottom sm-margin-10px-bottom">İnşaat</a>
                                <a href="javscript:void(0)" class="alt-font font-weight-500 text-extra-large text-extra-dark-gray d-block margin-20px-bottom sm-margin-10px-bottom">Taff Yapı</a>
                                <p class="margin-10px-bottom sm-margin-25px-bottom">2006 yılında temelleri atılan TAFF Yapı, bitirmiş olduğu 11 hastane projesine ilave olarak son dönemde, 875 daireli Adapark projesini hayata geçirmiştir. Hastane projeleri ile birlikte ofis, konut ve AVM projeleri için, proje geliştirme çalışmaları aktif şekilde devam etmektedir.</p>

                            </div>
                        </div>
                    </div>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <div class="blog-post bg-white box-shadow-medium margin-30px-bottom wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div class="blog-post-image sm-margin-25px-bottom">
                                <a href="javscript:void(0)" title=""><img src="/images/marie.jpeg" alt="" data-no-retina=""></a>
                            </div>
                            <div class="post-details padding-4-half-rem-lr md-padding-2-half-rem-lr sm-no-padding">
                                <a href="javscript:void(0)" class="alt-font text-small text-extra-dark-gray font-weight-500 text-uppercase d-inline-block margin-15px-bottom sm-margin-10px-bottom">Moda</a>
                                <a href="javscript:void(0)" class="alt-font font-weight-500 text-extra-large text-extra-dark-gray d-block margin-20px-bottom sm-margin-10px-bottom">Marie Claire</a>
                                <p class="margin-10px-bottom sm-margin-25px-bottom">
                                    As Lisans Tic. A.Ş. 2013 yılında Turgut Aydın Holding bünyesinde kurulmuştur. Marie Claire Paris ile As Lisans arasında yapılan anlaşma sonucunda As Lisans, Türkiye, Rusya, Ukrayna ve Irak’ta Marie Claire markasının temsilcisi ve alt lisans verme yetkilisi olmuştur. As Lisans, Marie Claire Paris'in bu ülkelerde ana lisansörü olarak, markanın pazarlama faaliyetlerini üstelenmekte ve alt lisans anlaşmalarını yapmaktadır. Bununla birlikte, 30'dan fazla ülkeye ise ihracat yapan Marie Claire yetkili lisansörüdür.
                                    Türkiye’de ev tekstili, çanta, mutfak gereçleri, yatak ve cam grubu ürünler sektörlerinde alt lisansörler aracılığı ile Marie Claire markası tüketici ile buluşmaktadır. Aynı sistem ile dünyada birçok farklı ülkede ise bayan-erkek dış giyim, çanta, iç çamaşır gibi sektörlerde de kendi ismi ile yer almaktadır.
                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- end blog item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->  