@{
    Layout = "_Layout"; 
}

<!-- end header -->
<!-- start page title -->
<section id="about" class="overlap-height wow animate__fadeIn padding-60px-bottom parallax" data-parallax-background-ratio="0.5" style="background-image:url('images/our-story-bg.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 col-lg-10 text-center overlap-gap-section">
                <div class="w-40px h-2px bg-gradient-orange-pink separator-line-vertical margin-30px-tb d-inline-block" style="background-image:linear-gradient(to right top,#226a1e,#5fa123,#7fcc65,#7ed75a,#36ff4f)"></div>
                <h3 class="alt-font font-weight-500 text-extra-dark-gray letter-spacing-minus-1px">
                    Mirasımız, <span class="text-gradient-orange-pink font-weight-600" style="
    background: linear-gradient(to right,#139323 0,#0c825c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
;"> standartları belirleyen</span>yenilikçi, ileriyi hedefleyen <span class="text-gradient-orange-pink font-weight-600" style="
    background: linear-gradient(to right,#139323 0,#0c825c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
">duruşumuzdur.</span>
                </h3>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section class="position-relative bg-gradient-sky-blue-pink overflow-visible" style="
    background-image: linear-gradient(to right top,#3e9cb1,#388e7e,#64bf95,#13e48d,#97af9a);">
    <div class="container">
        <div class="z-index-6 overlap-section-one-fourth">
            <div class="d-flex flex-column margin-9-rem-bottom sm-margin-7-rem-bottom">
                <div class="row">
                    <div class="col-12 col-md-12 z-index-0">
                        <span class="text-overlap text-uppercase title-extra-large-heavy alt-font text-center d-none d-md-block font-weight-700 opacity-1 z-index-minus-1">hikayemiz</span>
                        <div class="">
                            <img src="images/hist3.jpg" class="position-relative z-index-6 border-radius-6px" alt="" style="margin-left:5%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 justify-content-center">
            <!-- start process steps item -->
            <div class="col col-sm-8 text-center process-step-style-04 sm-margin-6-rem-bottom wow animate__fadeIn">
                <div class="process-step-item">
                    <span class="process-step-item-bfr bg-white"></span>
                    <div class="process-step-item-box">
                        <span class="process-step-item-box-bfr bg-white opacity-2 d-none d-md-block"></span>
                        <div class="process-step-icon">
                            <span class="process-step-icon-bfr bg-white"></span>
                            <span class="process-step-number text-slate-blue alt-font font-weight-500"><span class="process-step-number-bfr bg-white"></span>1</span>
                        </div>
                        <div class="process-content last-paragraph-no-margin">
                            <span class="alt-font d-block font-weight-500 text-white margin-10px-bottom">Kuruluş</span>
                            <p class="text-white opacity-7">Turgut Aydın, 1967 yılında kendi işine başlar. Mercan Yokuşundaki perdecilerle bronz işine ortak olur, havlu asacağı, kapı kolu gibi farklı ürünlerle ünlenir.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end process steps item -->
            <!-- start process steps item -->
            <div class="col col-sm-8 text-center process-step-style-04 sm-margin-6-rem-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                <div class="process-step-item">
                    <span class="process-step-item-bfr bg-white"></span>
                    <div class="process-step-item-box">
                        <span class="process-step-item-box-bfr bg-white opacity-2 d-none d-md-block"></span>
                        <div class="process-step-icon">
                            <span class="process-step-icon-bfr bg-white"></span>
                            <span class="process-step-number text-slate-blue alt-font font-weight-500"><span class="process-step-number-bfr bg-white"></span>2</span>
                        </div>
                        <div class="process-content last-paragraph-no-margin">
                            <span class="alt-font d-block font-weight-500 text-white margin-10px-bottom">Kurumsallaşma</span>
                            <p class="text-white opacity-7">80’li yılların sonuna kadar 3-4 fabrikaya ulaşılır ve küçük esnaflıktan, orta ölçekli tüccarlığa yükselinir</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end process steps item -->
            <!-- start process steps item -->
            <div class="col col-sm-8 text-center process-step-style-04 wow animate__fadeIn" data-wow-delay="0.4s">
                <div class="process-step-item">
                    <span class="process-step-item-bfr bg-white"></span>
                    <div class="process-step-item-box">
                        <span class="process-step-item-box-bfr bg-white opacity-2"></span>
                        <div class="process-step-icon">
                            <span class="process-step-icon-bfr bg-white"></span>
                            <span class="process-step-number text-slate-blue alt-font font-weight-500"><span class="process-step-number-bfr bg-white"></span>3</span>
                        </div>
                        <div class="process-content last-paragraph-no-margin">
                            <span class="alt-font d-block font-weight-500 text-white margin-10px-bottom">Liderlik</span>
                            <p class="text-white opacity-7">75bin'den fazla çalışan, 10bin’den fazla noktada tüketiciye ulaşan mağazalar, 50’den fazla restoran ile farklı iş kollarında yayılan dengeli bir portföy</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end process steps item -->
        </div>
    </div>
</section>




<section style="
    padding: 80px 0;
">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-5 col-md-9 md-margin-7-rem-bottom">
                <span class="alt-font margin-20px-bottom d-inline-block text-uppercase font-weight-500 letter-spacing-1px" style="color: green;">Bir Çınar Kuruluyor</span>
                <h4 class="alt-font font-weight-600 text-extra-dark-gray ">1958 yılında 15 yaşında Sultanhamam'da başlayan yolculuk</h4>
                <p class="w-80 lg-w-95" style="
    line-height: 24px;
    width: 94%;
">1958 yılında İstanbul’a gelerek 15 yaşında iş hayatına Sultanhamam’da ürettiği havlu asacağı, kapı kolu gibi ürünler ile atılan Turgut Aydın, 1976 yılında kurduğu Dömeks şirketi ile faaliyetlerini kurumsallaştırarak Aydın Grubunun temelini atmıştır.  Kurumun o dönemden günümüze taşıdığı en önemli mirası; bir çok sektörden öncü markalar ve girişimler ile Türkiye ekonomisinin büyümesine katkı sağlayan, yenilikçi fikirler ve yaklaşımlar ile sunduğu hizmetleri her daim ileri götürmeyi hedefleyen ve sektörde kalite standartlarını belirleyen duruşudur. </p>

            </div>

            <div class="col-12 col-lg-7 col-md-9 padding-55px-lr md-padding-5px-left sm-padding-50px-right">
                <figure class="image-back-offset-shadow position-right w-100 active">
                    <img class="border-radius-6px" src="images/dd.jpg" alt="" data-no-retina="">
                    <span class="bg-gradient-light-purple-light-orange border-radius-6px overlay" style="
    background-image: linear-gradient(to right top,green,#6abc68,#62ca6a,#b0d569,#689133);"></span>
                </figure>
            </div>
        </div>
    </div>
</section>


<!-- start section -->
<section class="bg-light-gray wow animate__fadeIn" data-wow-delay="0.4s" style="padding: 80px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center margin-4-half-rem-bottom">
                <span class="alt-font margin-10px-bottom d-block text-uppercase text-medium font-weight-500">Nasıl Büyüdük</span>
                <h5 class="alt-font text-extra-dark-gray font-weight-500 letter-spacing-minus-1px">Uzun, Kararlı, Güçlü Bir Yolculuk</h5>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 justify-content-center">
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">1958</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Sultanhamam'da Başlayan Yolculuk</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Turgut Aydın İstanbul’a gelerek 15 yaşında iş hayatına atılır. Sultanhamam’da atölyelerde havlu asacağı, kapı kolu gibi farklı ürünlerle ünlenir.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise -600 letter-spacing-minus-1px">1976</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Dömeks Kurumsallaşır</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Turgut Aydın Dömeks şirketiyle faaliyetlerini kurumsallaştırır.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">1991</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Aydın Örme Kurulur</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Dünyaca ünlü pek çok markaya elastik kumaş ve dantel temin eden, Türkiye pazarında ilk olan ürünler imal eden Aydın Örme kurulur.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">1996</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Sağlık Sektörüne İlk Adım</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Memorial Hastanesi kurucu ortakları arasında yer alarak sağlık sektörüne adım atma kararı alınır.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">2000</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Memorial Faaliyette</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Memorial Hastanesi hasta kabulüne başlar.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise -600 letter-spacing-minus-1px">2006</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Memorial Sağlık Grubu Hisseleri</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Memorial Sağlık Grubu’nun tüm hisseleri Aydın Ailesi tarafından alınır.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 md-margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">2008</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">English Home </span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Henüz 3 mağazalı bir marka olan English Home grup tarafından satın alınır.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">2009</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">A101 İndirim Marketleri</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">2008 yılında kurulmuş olan A101 indirim marketleri zincirinde 2009 yılında yönetim çoğunluğu grup tarafından alınır.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">2010</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Aydın Deniz İşletmeciliği Kuruluş</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">İngiliz özel yatırım fonu Argus Capital ve Katarlı özel yatırım fonu QFB, Memorial Sağlık Grubu’nun %20’şer oranda hisselerini alarak ortak olurlar. Daha sonra Ayships adı da eklenen Aydın Deniz İşletmeciliği A.Ş. 2010 yılında kurulup , M/V Soldoy , M/V Great 61 ve işletmesine aldığı diğer gemiler ile kuru yük taşımacılığı yapmaya devam etmektedir.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">2012</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">QFB Türkiye Yatırımı</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Katar kaynaklı fon QFB bir sonraki Türkiye yatırımını English Home’un %40’ını alarak gerçekleştirir. Turgut Aydın Grubu Memorial ve English Home’da %60 ile çoğunluk hissedarı olarak yönetime devam etmektedir.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">2014</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Turgut Aydın Holding</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Turgut Aydın Holding, A101 şirketindeki payını yaklaşık olarak %78’e yükseltir. Grup yaklaşık 3000 A101 marketi, 200’den fazla English Home mağazası, 12 hastane ile Türkiye’nin 81 ilinde hizmet sunmaya devam etmektedir.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">2018</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">English Home 100% Sahiplik Oranı</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">Holding, QFB’nin hisselerini geri alarak Memorial’da %89, English Home’da ise %100 sahiplik oranına ulaşmıştır.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-left-icon-middle padding-2-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                    <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                        <h5 class="alt-font no-margin-bottom text-gradient-fuego-turquoise font-weight-600 letter-spacing-minus-1px">2021</h5>
                    </div>
                    <div class="feature-box-content border-left border-color-medium-gray padding-25px-lr lg-padding-25px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                        <span class="text-extra-dark-gray alt-font font-weight-500">Turgut Aydın Holding'in Bugünü</span>
                        <p style="line-height:18px;min-height: 60px;font-size: 13px;">A101, English Home ve EVE ile toplamda yaklaşık 10 bin mağaza; 14 hastane ve tıp merkezi, restoran zincirleri ile grup hızlı büyümesi sürdürmektedir.</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->


        </div>
    </div>
</section>
<!-- end section -->