@{ 
    var popup = Context.Request.Query["popup"].ToStr() == "true" ? (Layout = null) : "";
    var postModel = ViewBag.postModel as Role;
    var selecttype = Context.Request.Query["selecttype"].ToInt();
    var selectname = Context.Request.Query["selectname"].ToStr();
    var EnumText = selectname;
    var nonProp = "OrderNo,Link,ParentId";

    if (postModel == null)
    {
        postModel = new Role();
    }
    else
    {
    }
    var TitleName = EnumText + " " + (postModel.Id > 0 ? "Update" : "Add"); }

<!--begin::Content-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">@Html.Raw(EnumText)</h5>
            <!--end::Page Title-->
            <!--begin::Action-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <span class="text-muted font-weight-bold mr-4">Sayfa Bilgisi</span>
            <a href="#" class="btn btn-light-primary font-weight-bolder btn-sm">@Html.Raw("Yeni Kayıt")</a>
            <!--end::Action-->
        </div>
        <!--end::Info-->

    </div>
</div>
<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">

        <div class="card card-custom">
            <div class="card-header card-header-tabs-line nav-tabs-line-3x">
                <div class="card-toolbar">
                    <ul class="tabbar nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-3x">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab1">@Html.Raw(EnumText + " " + (postModel.Id > 0 ? "Update" : "Add"))</a></li>
                    </ul>

                </div>

            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                        @await Component.InvokeAsync("DynamicInput", new DynamicModel()
                   {
                       model = postModel,
                       controllerName = postModel.GetType().Name,
                       PageType = "Role",
                       titleName = TitleName,
                       InsertMethodName = "InsertOrUpdate",
                       labelClass = "col-md-4",
                       inputClass = "col-md-8",
                       colClass = "col-md-6",
                       nonProp = nonProp,
                       orderby = "",
                       addBtn = "<input type='submit' value='" + "Save" + "' " + "class='btn btn-primary btn-shadow-hover font-weight-bold mr-2' />",
                       removeBtn = $"<input dataid='{postModel.Id}' type='button' value='Delete' class='btnDelete btn btn-danger btn-shadow-hover font-weight-bold mr-2' />",
                       disabledProp = "ContentTypes"
                   })
                    </div>
                </div>
            </div>
        </div>




    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
<!--end::Content-->
<script>
    $(function () {
        $($('.tabbar li a')[0]).click();
    });
</script>