<!-- start banner section --> <section class="cover-background h-500px sm-h-300px" style="background-image:url('i/mages/q/moretorideb.jpg');">
    <div class="opacity-medium bg-gradient-dark-slate-blue-transparent"></div><div class="container">
        <div class="row">
            <div class="col-12 position-relative extra-small-screen md-h-300px sm-h-250px d-flex flex-column">
                <h1 class="alt-font font-weight-600 text-white title-extra-large w-80 mt-auto mb-0 letter-spacing-minus-5px sm-letter-spacing-minus-1-half xs-w-70">More to Ride</h1>
            </div>
        </div>
    </div>
</section><!-- end banner section --> <!-- start section --> <section class="half-section">
    <div class="container">
        <div class="row justify-content-center xs-padding-2-rem-lr">
            <div class="col-12 col-lg-6 col-sm-12 text-center text-md-start md-margin-20px-bottom">
                <h4 class="alt-font font-weight-500 text-extra-dark-gray mb-0">Lots of challenging routes are waiting for you!</h4>
            </div><div class="col-12 col-lg-6 text-left text-md-start last-paragraph-no-margin">
                <p class="w-95 lg-w-100">A gorgeous backdrop of pine-clad mountains looms behind the seaside resort of Marmaris in southwest Turkey. Enjoy the nature on the route and pedal without any race stress, but you will need all your performance in the climbing segment!</p>
            </div>
        </div>
    </div>
</section><!-- start section --> <section class="p-0">
    <div class="container" style="background:#022c63;">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 wow text-white text-center animate__fadeInRight padding-2-rem-lr padding-3-rem-tb lg-padding-4-rem-lr lg-padding-5-rem-tb md-padding-5-rem-all" data-wow-delay="0.4s">
                <h3 class="alt-font font-weight-600 w-90 xl-w-100">&Ccedil;ilekli Route</h3>
                <h5 class="alt-font font-weight-500 text-white letter-spacing-minus-1px margin-20px-top margin-30px-bottom" style="color:#70cfe6 !important;">Looking for a climb?<span class="text-white font-weight-300"> Then this route is </span> <span class="text-white font-weight-700">perfect for you</span></h5>
                <span class="text-large text-white line-height-30px text-lg-left d-block margin-20px-bottom xs-margin-30px-bottom">The &Ccedil;i&ccedil;ekli route, where you will get enough of climbing in the pine forest, also includes the first part of the Queens race route.</span> <p class="text-white text-lg-left">You start by climbing the 4km Marmaris slope, after which a fast road awaits you until the G&ouml;kova junction. From the G&ouml;kova junction, you continue for 11km on the highway in the direction of Dalaman. After deviating from B&ouml;ğ&uuml;rtlenli, the 6km &Ccedil;i&ccedil;ek climb awaits you with an average of 7-8% slope. At the top of the climb, you arrive at &Ccedil;i&ccedil;ek Village. Continuing, you pass Ula and come down from Sakar Tepe to the G&ouml;kova junction again. Your return road will be completed by descending the Marmaris slope. Have a nice ride!</p>
                <div class="row margin-10px-bottom text-lg-center">
                    <div class="col-12 col-lg-1 text-lg-center md-margin-40px-bottom xs-margin-35px-bottom wow animate__fadeIn" data-wow-delay="0.2s"></div><div class="col-12 col-lg-4 text-lg-center md-margin-40px-bottom xs-margin-35px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        <div class="text-white feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                            <div class="feature-box-icon margin-30px-right line-height-0px lg-margin-25px-right"><em class="line-icon-Bicycle-3 icon-large align-middle font-weight-500"></em></div><div class="feature-box-content ">
                                <h6 class="alt-font font-weight-500 line-height-28px margin-5px-bottom">116km</h6>
                                <span>Distance</span>
                            </div>
                        </div>
                    </div><div class="col-12 col-lg-4 md-margin-40px-bottom xs-margin-35px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        <div class="text-white feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                            <div class="feature-box-icon margin-10px-right line-height-0px lg-margin-25px-right"><em class="line-icon-Tree-5 icon-medium align-middle font-weight-500"></em></div><div class="feature-box-content ">
                                <h6 class="alt-font font-weight-500 line-height-28px margin-5px-bottom">1.730m</h6>
                                <span>Elevation</span>
                            </div>
                        </div>
                    </div><div class="col-12 col-lg-2 md-margin-40px-bottom xs-margin-35px-bottom wow animate__fadeIn" data-wow-delay="0.2s"><a href="https://www.strava.com/routes/2784718891692830240" target="_blank"><img src="/images/q/strava.png" class="wow animate__fadeIn" data-wow-delay="0.4s" style="max-width:100px;" /></a> </div>
                </div>
            </div><div class="col-12 col-xl-6 col-lg-7 px-0 wow animate__fadeIn" data-wow-delay="0.5s">
            <div class="swiper-container white-move mobileoff-fullscreen-top-space md-h-600px sm-h-500px" 
                   data-slider-options="{ 'slidesPerView': 1, 'loop': true, 'pagination': { 'el': '.swiper-pagination', 'clickable': true }, 'navigation': { 'nextEl': '.swiper-button-next-nav', 'prevEl': '.swiper-button-previous-nav' }, 'autoplay': { 'delay': 4500, 'disableOnInteraction': false }, 'keyboard': { 'enabled': true, 'onlyInViewport': true }, 'effect': 'slide' }">
              
                 ><div class="swiper-wrapper"><!-- start slider item --> <div class="swiper-slide cover-background" style="background-image:url('/images/q/cilekli1.jpg');"></div><!-- end slider item --> <!-- start slider item --> <div class="swiper-slide cover-background" style="background-image:url('/images/q/cilekli2.jpg');"></div><!-- end slider item --> <!-- start slider item --> <div class="swiper-slide cover-background" style="background-image:url('/images/q/cilekli3.jpg');"></div><!-- end slider item --> </div></div><div class="slider-arrow-rb md-right-0px"><div class="swiper-button-previous-nav swiper-button-prev slider-navigation-style-01 large"><em class="feather icon-feather-arrow-left"></em></div><div class="swiper-button-next-nav swiper-button-next slider-navigation-style-01 large"><em class="feather icon-feather-arrow-right"></em></div></div></div>
        </div>
    </div>
</section>